$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@font-face {
  font-family: 'dosis-reg';
  src: url('/fonts/Dosis-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'dosis-semi-bold';
  src: url('/fonts/Dosis-SemiBold.ttf') format('truetype')
}

@font-face {
  font-family: 'dosis-md';
  src: url('/fonts/Dosis-Medium.ttf') format('truetype')
}

@font-face {
  font-family: 'dosis-light';
  src: url('/fonts/Dosis-Light.ttf') format('truetype')
}

h5 {
  font-family: 'dosis-reg';
  color: #292E2F;
}

h4 {
  font-family: 'dosis-md';
  color: #292E2F;
}

h3 {
  font-family: 'dosis-semi-bold';
  color: #292E2F;
}

h2, a, p {
  font-family: 'dosis-reg';
  letter-spacing: 0.6px;
}

strong {
  font-family: 'dosis-semi-bold';
}

.hide-demo {
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
}

.show-demo {
  z-index: 0;
  opacity: 1;
  -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  background: url('/images/hero-image.jpg') no-repeat;
  background-size: cover;
  position: relative;
  /* Make the masthead heading the same height as the navigation */
  h2 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.container {
  position: relative;
}

/* Custom page footer */
.footer {
  border-top: 1px solid #e5e5e5;
  background: #101010;
  height: 70px;
  padding-top: 24px;
  p {
    display: inline-block;
    color: #FD4F00;
  }
  .terms {
    float: right;
  }
  a {
    margin-left: 10px;
    color: #9a9a9a;
    &:hover {
      color: #fff !important;
    }
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.log-in-btn {
  position: absolute;
  right: 0;
  background: #549594;
  border-radius: 4px;
  padding: 10px 26px;
  color: #fff;
  &:hover { 
    background: #449194;
    cursor: pointer;
  }
}

.button {
  background: #549594;
  border-radius: 4px;
  padding: 12px 20px;
  color: #fff;
  width: 160px;
  margin: 30px auto;
  font-family: 'dosis-semi-bold';
  &:hover { 
    background: #449194;
    cursor: pointer;
  }
}

a {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #fff !important;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none !important;
  }
}

.cloud-section, .crm-section {
  background: url('/images/gray-bg.png');
  text-align: center;
}

.crm-section {
  h3 {
    font-family: 'dosis-semi-bold';
  }
}

@media only screen {
  .header {
    height: 160px;
    padding-top: 16px;
    h2 {
      font-size: 17px;
    }
    .logo {
      margin: 30px auto 0;
      img {
        width: 66%;
        max-width: 220px;
      }
    }
  }
  .cloud-section {
    padding: 20px 0;
    h4 {
      max-width: 500px;
      margin: 20px auto;  
      font-family: 'dosis-light';
    }
    .cloud {
      margin: 20px 0;
      width: 100%;
      max-width: 710px;
    }
  }

  .ip-section {
    padding: 20px 0;
    h3, h5 {
      text-align: center;
    }
    .ip-group {
      text-align: center;
      margin: 20px auto;
      max-width: 400px;
      height: 180px;
      p {
        max-width: 280px;
        margin: 0 auto;
      }
      h3 {
        font-family: 'dosis-reg';
      }
    }
  }

  .crm-section {
    padding: 20px 0;
    h5 {
      width: 80%;
      margin: 0 auto 40px auto;
    }
    h4 {
      font-family: 'dosis-reg';
    }
    .crm-box {
      background: #fff;
      padding: 30px 0 20px;
      margin: 0 auto 20px auto;
      height: 270px;
      max-width: 330px;
      p {
        width: 60%;
        margin: 0 auto;
      }
      hr {
        margin: 30px 30px 0px 30px;
      }
      img {
        margin-top: 20px;
        width: 85%;
        max-width: 280px;
      }
      .cd-icon {
        width: 70%;
        position: relative;
        top: 10px;
      }
      .track-icon {
        width: 70%;
      }
    }
  }
}
/* Responsive: Portrait tablets and up */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  .footer {
    p {
      position: relative;
      left: -30px;
    }
    .terms {
      position: relative;
      right: -30px;
    }
  }

  /* Space out the masthead */
  .header {
    height: 430px;
    padding-top: 30px;
    h2 {
      font-size: 28px;
      margin-top: 10px;
      text-align: center;
    }
    .logo {
      display: block;
      width: 510px;
      margin: 120px auto 0;
      height: 70px;
      text-align: center;
      img {
        width: auto;
        max-width: 98%;
      }
    }
  }

  .cloud-section {
    padding-top: 60px;
    padding-bottom: 30px;
    h4 {
      font-size: 22px;
      width: 80%;
      max-width: 640px;
      margin: 0 auto 40px;
      text-align: center;
      line-height: 26px;
    }
    .cloud {
      margin-bottom: 40px;
    }
  }

  .ip-section, .crm-section {
    padding-top: 0px;
    padding-bottom: 80px;
    text-align: center;
    .row {
      margin-top: 40px;
    }
    h3 {
      font-size: 32px;
    }
    h5 {
      font-size: 18px;
      // margin-bottom: 60px;
    }
    .ip-group {
      margin-top: 40px;
      h3 {
        font-family: 'dosis-reg';
      }
    }
  }
  .crm-section {
    h4 {
      margin-top: 60px;
      font-size: 28px;
    }
    .crm-box {
      border: 1px solid #E7E7E7;
      background: #fff;
      height: 300px;
      padding:40px 30px;
      border-radius: 4px;
      text-align: center;
      height: 320px;
      p {
        width: 80%;
        margin: 0 auto;
        font-size: 16px;
      }
      hr {
        margin: 40px 0 10px 0;
      }
      img {
        width: 100%;
      }
      .cd-icon {
        width: 80%;
      }
      .track-icon {
        width: 80%;
      }
    }
  }
}

.demo-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 100px;
  .demo-form {
    border-radius: 4px;
    margin: 0 auto;
    width: 350px;
    color: #000;
    background-color: #F2F2F2;
    padding: 20px 50px;
    // margin-top: 40px;
    // max-height: 400px;
    .info p {
      margin-bottom: 20px;
    }
    form {
      h2 {
        text-align: center;
        margin-bottom: 40px;
      }
      padding: 0px;
      ul {
        padding-left: 0;
        list-style-type: none;
      }
      .form-input input, .form-input textarea {
        font-family: 'dosis-light';
        border-radius: 4px;
        padding: 10px 16px;
        border: 1px solid rgba(157, 157, 157, 0.5);
        width: 100% !important;
        margin-bottom: 20px;
      }
      .button {
        font-family: 'dosis-reg';
        border: none;
        width: 100%;
        margin-top: 0px;
      }
    }
  }
}
